body {
    color: lightblue;
    background: white ;
    margin: 0px;
    font-family: "Arima", system-ui;
    margin-bottom: 100px;
}

header {
border-bottom: solid 2px lightpink;
padding: 20px;
font-size: 40px;
color: lightpink;
text-align: center;
font-weight: 600;
}

.chamada {
background: rgb(88, 88, 88);
padding-bottom: 30px;
padding-top: 30px;
display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 5%
}
h1 {
font-size: 30px;
}


p {
    font-size: 20px;
}

.categoria-videos {
display: flex;
overflow-x: auto;
gap: 5px;

}
.categoria {
padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}

.categoria-videos img {
opacity: 0.5;
height: 200px;
}

.categoria-videos img:hover {
opacity: 1.0;
border: 2px solid lightseagreen
}

.categoria h2 {
    color: lightgreen
}